export(ExponentialSmoothing)
export(covEstimate)
export(detectOutliers)
export(forecastSeries)
export(jsShrink)
export(lwShrink)
export(objLambdaClassic)
export(objLambdaRobust)
export(scaleEstimate)
export(smoothedSeries)
export(smoothedValuesRobust)
export(solveLambda)
